<h5>Exemplos de Pipes</h5>

<p>Título: {{ livro.titulo | uppercase | lowercase | camelCase }}</p>
<p>Estrelas: {{ livro.rating | number:'1.1-2' }}</p>
<p>Páginas: {{ livro.numeroPaginas | number }}</p>
<p>Preço: {{ livro.preco | currency:'BRL':true }}</p>
<p>Data de Lançamento: {{ livro.dataLancamento | date:'dd/MMM/yyyy' }}</p>
<p>URL: {{ livro.url }}</p>
<br>
<p>Livro: {{ livro | json }}</p>

<input type="text" [(ngModel)]="filtro">

<br>
<input type="text" #novoValor>
<button (click)="addCurso(novoValor.value)">Add Curso</button>

<h5>Pipe Puro</h5>
<ul>
    <li *ngFor="let liv of livros | fitroArray:filtro" >
        {{ liv }}
    </li>
</ul>